<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of model?.results">
      <td>{{item.url}}</td>
      <td>{{item.name}}</td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="total" [pageSize]="20"></mat-paginator>